apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: docvault-uploads-pvc
  namespace: docvault
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: docvault-data-pvc
  namespace: docvault
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard

