apiVersion: v1
kind: Service
metadata:
  name: docvault-backend
  namespace: docvault
  labels:
    app: docvault-backend
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: docvault-backend
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

