apiVersion: v1
kind: Service
metadata:
  name: docvault-frontend
  namespace: docvault
  labels:
    app: docvault-frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: docvault-frontend

